@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;700;900&display=swap');

body {
    color: #fff;
    font-family: 'Lato', sans-serif;
}
a, label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
p {
    font-size: 17px;
}

i {
    color: #fede01;
    font-size: 19px;
}

.logo img {margin-top: 10px;}

/* User Info */
.user-info {
    border-bottom: 2px solid gray;
    padding: 15px 0;
    font-size: 14px;
}
.login {
    margin-right: 40px;
}
.login a i, .sign-up a i {
    margin-right: 7px;
}
.login a, .sign-up a {
    text-decoration: none;
    color: white;
}
.menu ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}
.menu ul li {
    list-style: none;
    border-bottom: 2px solid transparent;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 4rem;
    transition-duration: .2s;
}
.menu ul li:hover {
    border-bottom: 2px solid goldenrod;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: block;
}
.menu ul li:last-child {
    margin-right: 0;
}
#header-section{
    background-image: url(../images/header-bg.jpg);
    max-height: 100%;
    background-size: cover;
}
.social-link a {
    margin-right: 15px;
}
.contact-info-top a {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}
.header-top {
    background-color: rgba(8, 8, 8, 0.4);
}
.header-body {
    padding: 100px 0;
    width: 70%;
    margin: auto;
}
.header-body h1 {
    font-size: 75px;
}
.header-body h2 {
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.header-body p {
    margin-top: 2em;
}
.header-body a {
    margin-top: 2em;
    background-color: #f9e03b;
    text-transform: uppercase;
    padding: 10px 50px;
}

/* Find Hotel Section */
#find-hotel-section {
    background-color: #f0d839;
    background-image: repeating-linear-gradient(135deg, #4e4e4e27, transparent, transparent , transparent 6px);
}
input[type="date"] {
    text-transform: uppercase;
}
.find-hotels {
    padding: 100px 0;
    color: #000000;
}
.hotel-find-form input {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 190px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.input {
    padding-right: 27px;
}
input#adult, input#child {
    width: 130px;
}
.form-btn button {
    background-color: #4e4e4e;
    color: #ffffff;
    padding: 4px 50px;
}
.find-hotels label {
    margin-bottom: 8px;
    display: block;
}

/* About Section */
section#about-section {
    padding-right: 15px;
}
.about-content {
    padding: 70px 20px 55px 60px;
    background-image: url(../images/bg-5.jpg);
    background-size: cover;
    
}
.about-content h2 {
    font-size: 37px;
}
.about-content h3 {
    font-size: 35px;
    font-weight: 500;
}
.about-content p {
    margin: 20px 0;
    line-height: 1.8rem;
    font-weight: 500;
}
.about-content ul {
    padding: 0;
}
.about-content ul li {
    list-style: none;
    margin-bottom: 20px;
    font-weight: 500;
}
.about-content ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    -webkit-font-smoothing: antialiased;
    margin-right: 15px;
    font-size: 25px;
    color: #00a4ff;
    vertical-align: middle;
}
.about-img {
    padding-right: 0;
}
.about-content ul li i {
    color: #00a4ff;
    font-size: 30px;
    margin-right: 15px;
    vertical-align: middle;
}