* {
    color: #fff;
}
i {
    color: #fede01;
}

.logo img {margin-top: 10px;}
/* User Info */
.user-info {
    border-bottom: 2px solid gray;
    padding: 15px 0;
}
.user-login span {
    margin-left: 20px;
}
.menu ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}
.menu ul li {
    list-style: none;
    border-bottom: 2px solid transparent;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 4rem;
    transition-duration: .2s;
}
.menu ul li:hover {
    border-bottom: 2px solid goldenrod;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: block;
}
.menu ul li:last-child {
    margin-right: 0;
}
#header-section{
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
}
.social-link a {
    margin-right: 15px;
}
.contact-info-top a {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}
.header-top {
    background-color: rgba(8, 8, 8, 0.4);
}
.header-body {
    padding: 100px 0;
    width: 60%;
    margin: auto;
}